alabaster==0.7.12
amqp==1.4.9
anyjson==0.3.3
apipkg==1.5
#apturl==0.5.2
argh==0.26.2
asgi-redis==1.4.3
asgiref==1.1.2
asn1crypto==0.24.0
async-lru==1.0.1
atomicwrites==1.3.0
attrdict==2.0.1
attrs==17.4.0
autobahn==20.1.2
Automat==0.8.0
Babel==2.6.0
backcall==0.1.0
base58==1.0.3
bcrypt==3.1.7
beautifulsoup4==4.6.0
billiard==3.3.0.23
bleach==3.1.0
blinker==1.4
boto3==1.9.140
botocore==1.12.140
#Brlapi==0.6.6
bumpversion==0.5.3
cached-property==1.5.1
celery==3.1.20
certifi==2019.3.9
cffi==1.11.5
channels==2.4.0
chardet==3.0.4
checkbox-support==0.22
click==6.7
colorama==0.3.9
#command-not-found==0.3
configparser==3.5.0
constantly==15.1.0
contextlib2==0.5.5
coreapi==2.3.3
coreschema==0.0.4
crispy-forms-semantic-ui==0.2.0
cryptography==3.2
#cupshelpers==1.0
cycler==0.10.0
cytoolz==0.9.0.1
daphne==2.4.1
decorator==4.3.0
#defer==1.0.6
defusedxml==0.6.0
#distro-info==0.18
dj-database-url==0.4.1
dj-static==0.0.6
Django==2.2.9
django-allauth==0.39.1
django-appconf==1.0.3
django-bootstrap3==7.0.1
django-braces==1.13.0
django-celery==3.3.1
django-channels==0.7.0
django-choices==1.6.2
django-ckeditor==5.7.0
django-configurations==2.0
django-countries==5.3.3
django-credit-cards==0.4.1
django-crispy-forms==1.7.2
django-dbconn-retry==0.1.5
django-dramatiq==0.9.1
django-extensions==2.0.7
django-filter==2.1.0
django-form-tags==1.2
django-form-utils==1.0.3
django-google-analytics-app==4.4.0
django-js-asset==1.2.2
django-markdownify==0.8.0
django-markdownx==2.0.28
django-messages==0.5.3
django-meta==1.5.1
django-money==0.14.4
django-moneyfield==0.2.1
django-oauth-toolkit==1.2.0
django-phone-field==1.7.1
django-redis==4.11.0
django-rest-framework-social-oauth2==1.0.4
django-storages==1.7.1
django-svg-templatetag==1.0.1
django-tagging==0.4.6
django-taggit==1.1.0
django-widget-tweaks==1.4.2
djangorestframework==3.9.3
djangoshop-stripe==1.0
docker==4.0.2
docker-compose==1.25.4
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
dramatiq==1.8.1
Envelopes==0.4
eth-abi==2.0.0b8
eth-account==0.4.0
eth-bloom==1.0.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.2
eth-rlp==0.1.2
eth-tester==0.1.0b39
eth-typing==2.1.0
eth-utils==1.6.0
ethpm==0.1.4a16
ethtoken==0.0.1a4
execnet==1.6.0
extras==1.0.0
feedparser==5.2.1
filelock==3.0.12
flake8==3.4.1
flaky==3.5.3
guacamole==0.9.2
gunicorn==19.6.0
hexbytes==0.1.0
html5lib==0.999999999
httplib2==0.9.2
hyperlink==19.0.0
hypothesis==4.23.6
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
incremental==17.5.0
ipfshttpclient==0.4.11
ipython==6.3.1
ipython-genutils==0.2.0
isort==4.3.4
itypes==1.1.0
jedi==0.12.0
Jinja2==2.10
jmespath==0.9.4
jsonfield==3.1.0
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
kombu==3.0.37
#language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
#louis==3.5.0
lru-dict==1.1.6
lxml==4.2.1
#macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.1
#MarkupSafe==1.0
matplotlib==3.1.1
mccabe==0.6.1
meta==1.0.2
mock==3.0.5
money==1.3.0
more-itertools==7.0.0
msgpack-python==0.5.6
multiaddr==0.0.7
mypy-extensions==0.4.1
netaddr==0.7.19
numpy==1.17.0
oauth==1.0.1
oauthlib==3.0.2
olefile==0.45.1
#onboard==1.4.1
otpauth==1.0.1
packaging==19.0
padme==1.1.1
pandas==0.25.0
paramiko==2.7.1
parsimonious==0.8.1
parso==0.2.0
pathtools==0.1.2
pbr==5.4.2
pexpect==4.5.0
pickleshare==0.7.4
Pillow==7.1.0
Pinax==0.9a2
pinax-notifications==5.0.3
pkginfo==1.5.0.1
plainbox==0.25
pluggy==0.11.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==1.0.15
protobuf==3.0.0
psycopg2==2.7.3.2
psycopg2-binary==2.8.2
ptyprocess==0.5.2
py==1.8.0
py-ecc==1.6.0
py-evm==0.2.0a42
py-geth==2.1.0
py-moneyed==0.8.0
py-solc==3.2.0
pyasn1==0.4.2
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.3.1
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.8.1
pycups==1.9.73
#pycurl==7.43.0.1
pyethash==0.1.27
pyflakes==1.5.0
Pygments==2.2.0
#pygobject==3.26.1
PyHamcrest==2.0.0
pyhocon==0.3.38
PyJWT==1.5.3
pylast==2.1.0
pymacaroons==0.13.0
PyNaCl==1.1.2
pyOpenSSL==19.1.0
pyparsing==2.2.0
pyRFC3339==1.0
pysha3==1.0.2
pytest==4.5.0
pytest-ethereum==0.1.3a6
pytest-forked==1.0.2
pytest-mock==1.10.4
pytest-pythonpath==0.7.3
pytest-watch==4.2.0
pytest-xdist==1.28.0
#python-apt==1.6.3
python-dateutil==2.8.0
python-debian==0.1.32
python-decouple==3.1
python-slugify==3.0.2
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.1
pyxdg==0.25
PyYAML==3.12
qrcode==6.1
raven==6.10.0
readme-renderer==24.0
redis==2.10.6
reportlab==3.2.0
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
requests-unixsocket==0.1.5
rlp==1.1.0
s3transfer==0.2.0
SecretStorage==2.3.1
semantic-version==2.6.0
service-identity==18.1.0
shell==1.0.1
simplegeneric==0.8.1
simplejson==3.13.2
six==1.12.0
slugify==0.0.1
snowballstemmer==1.2.1
social-auth-app-django==3.1.0
social-auth-core==3.2.0
Sphinx==2.0.1
sphinx-better-theme==0.1.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
static3==0.7.0
stripe==1.53.0
structlog==17.2.0
#system-service==0.3
#systemd-python==234
testresources==2.0.1
text-unidecode==1.2
texttable==1.6.2
toml==0.10.0
toolz==0.9.0
toposort==1.5
tornado==4.5.2
tornado-jinja2==0.2.4
tox==3.11.1
tqdm==4.32.1
traitlets==4.3.2
trie==1.4.0
twine==1.13.0
Twisted==20.3.0
txaio==18.8.1
#ubuntu-drivers-common==0.0.0
#ufw==0.35
ujson==1.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7
uritemplate==3.0.0
urllib3==1.24.3
usb-creator==0.3.3
uvloop==0.13.0
varint==1.0.2
vine==1.3.0
virtualenv==15.1.0
wadllib==1.3.2
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
websockets==7.0
when-changed==0.3.0
whitenoise==3.2.1
xdiagnose==3.8.8
xkit==0.0.0
XlsxWriter==0.9.6
zipp==0.6.0
zope.interface==4.7.1
